<!DOCTYPE html>
<html>

<head>
  <title>Gaming</title>
</head>

<body>
  <style>
    :root {
      font-family: Arial, Helvetica, sans-serif; 
    }
    body {
      margin: 0;
      padding: 0;
    }
    .card {
      border: 1px solid black;
      display: flex;
      height: 300px;
      width: 700px;
    }

    h1 {
      margin: 0px;
      text-align: center;
      margin-left: 1.5rem;
    }

    p {
      margin: .5rem 0px;
      margin-left: 1.5rem;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      span {
        display: inline-block;
      }
    }

    .left,
    .right {
      overflow: hidden;
      padding: 5px;
      display: flex;
      flex-direction: column;
    }
    .left {
      min-width: 300px;
      max-width: 450px;
      padding-left: .5rem;
      display: flex;
    }
    .right {
      flex: 1 1 auto;
    }

    table {
      height: 100%;
      width: 100%;
      border-spacing: 0;
      border-collapse: collapse;
      thead {
        font-size: 1.2em;
        border-bottom: 1px solid black;
      }
      th:first-child {
        width: 60%;
      }
      tr + tr {
        border-top: 1px solid black;
      }
      td + td, th + th {
        border-left: 1px solid black;
      }
    }

    .img-container {
      flex: 0 1 auto;
      margin: auto auto;

      img {
        border-radius: 1rem;
        width: 100%;
        filter: grayscale();
        height: 100%;
      }
    }
    ul {
      margin: 0px;
      padding-left: 1rem;
      font-size: 1.1em;
    }
    .rating {
      white-space: break-spaces;
      width: 0;
      position: absolute;
      top: .5rem;
      left: .5rem;
      font-size: 1.2em;
      text-shadow: 1px 1px 3px black;
      z-index: 1;
    }
  </style>
  <div class="card">
    <div class="left">
      <div class="rating">{{ "💪 " * Schwierigkeit }}</div>
      <h1>{{ Name }}</h1>
      <p>
        <span>Typ: {{ Typ if Typ  else "--"  }}</span>
        <span>Voraussetzung: {{ VoraussetzungName if VoraussetzungName else "--" }}</span>
        <span>D-Wert: {{ DWert if DWert else "--" }}</span>
      </p>
      {% if image_urls.0 %}
      <div class="img-container">
        <img src="{{ image_urls.0 }}" alt="Turnen Piktogramm">
      </div>
      {% endif %}
    </div>
    <div class="right">
      <table>
        <thead>
          <tr><th>Name</th><th>Datum</th></tr>
        </thead>
        <tbody>
          <tr><td></td><td></td></tr>
          <tr><td></td><td></td></tr>
          <tr><td></td><td></td></tr>
          <tr><td></td><td></td></tr>
          <tr><td></td><td></td></tr>
        </tbody>
      </table>
      Hinweise:
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
</body>

</html>